/* BASIC SETUP */
* {
    font-family: 'Poppins', sans-serif;
}

.bikerz-btn-danger {
    background: #E76F51;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 10px;
}
.w-10{
    width: 10%;
}
/* HEADER */
.bikerz-header-bg {
    background: #264653;
}
@media only screen and (min-width:768px) {
    .p-md-5{
        padding:3rem;
    }
}