/* BASIC SETUP */
* {
    font-family: 'Poppins', sans-serif;
}

.bikerz-btn-danger {
    background: #E76F51;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 10px;
}

.w-5 {
    width: 5%;
}

.bikerz-header-bg {
    background: #264653;
}

.bikerz-faq-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #383838;
}
.bikerz-faq-answers{
    line-height: 28px;
    color: #7E848C;
}
@media only screen and (min-width:768px) {
    .p-md-5 {
        padding: 3rem;
    }
}